<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{errormsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="userForm">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input type="text" autoComplete="nom" cFormControl formControlName="nom" placeholder="Full Name" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilPhone"></svg>
                </span>
                <input type="text" autoComplete="tele" cFormControl formControlName="tele" placeholder="Mobile" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input type="email" autoComplete="email" cFormControl formControlName="email" placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input type="password" autoComplete="password" cFormControl formControlName="password" placeholder="Password"/>
              </c-input-group>
              <div class="d-grid">
                <button *ngIf="!getparamid" cButton color="success" (click)="userSubmit()">Create Account</button>
                &nbsp;
                <button cButton color="info" (click)="goToLogin()">Go To Login Page</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
